# <center> Homework 6

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
df=pd.read_csv('Caravan.csv')
df.head()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,Purchase
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,No
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,No
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,No
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,No
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,No

In [3]:
df.Purchase=df.Purchase.replace('No',0)
df.Purchase=df.Purchase.replace('Yes',1)
df.Purchase.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchase, dtype: int64

# 1

In [4]:
pd.crosstab(df.Purchase,df.PVRAAUT,margins=True)

PVRAAUT      0  4  6  9   All
Purchase
0         5465  1  7  1  5474
1          348  0  0  0   348
All       5813  1  7  1  5822

In [5]:
pd.crosstab(df.Purchase,df.AVRAAUT,margins=True)

AVRAAUT      0  1  2  3   All
Purchase
0         5465  6  2  1  5474
1          348  0  0  0   348
All       5813  6  2  1  5822

In [6]:
df2=df.drop(['PVRAAUT','AVRAAUT'],axis=1)
df2.head()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,Purchase
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

# 2

In [7]:
X_train=df2.iloc[:1000,:].drop('Purchase',axis=1)
y_train=df2.iloc[:1000,:].Purchase
X_test=df2.iloc[1000:,:].drop('Purchase',axis=1)
y_test=df2.iloc[1000:,:].Purchase

In [8]:
#find best depth
accuracy=[]
for i in range(1,20):
    model=RandomForestClassifier(max_features=29,n_estimators=500,\
                                 random_state=1,max_depth=i)
    model.fit(X_train,y_train)
    a=model.score(X_test,y_test)
    accuracy.append(a)

In [9]:
accuracy.index(max(accuracy))

4

The best max depth is 5.

In [10]:
model1=RandomForestClassifier(max_features=29,n_estimators=500,random_state=1,max_depth=5)
model1.fit(X_train,y_train)

RandomForestClassifier(max_depth=5, max_features=29, n_estimators=500,
                       random_state=1)

In [11]:
Importance=pd.DataFrame({'importance':model1.feature_importances_*100},index=X_train.columns)
Importance[Importance.importance==Importance.importance.max()]

          importance
PPLEZIER    5.991928

The predictor "PPERSAUT" appears to be the most importance.

In [12]:
model1.score(X_test,y_test)

0.9402737453338863

The test accuracy rate is 0.9403.

# 3

In [13]:
model2=GradientBoostingClassifier(max_depth=4,n_estimators=1000,learning_rate=0.01,random_state=1)
model2.fit(X_train,y_train)

GradientBoostingClassifier(learning_rate=0.01, max_depth=4, n_estimators=1000,
                           random_state=1)

In [14]:
Importance2=pd.DataFrame({'importance':model2.feature_importances_*100},index=X_train.columns)
Importance2[Importance2.importance==Importance2.importance.max()]

          importance
PPERSAUT    6.729594

The predictor "PPERSAUT" appears to be the most importance.

In [15]:
model2.score(X_test,y_test)

0.9334301119867275

The test accuracy rate is 0.9334.

# 4

In [16]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler

In [17]:
model3=KNeighborsClassifier()

In [18]:
scaler=MinMaxScaler()
scaler.fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [19]:
parameters={'n_neighbors':range(1,30)}
grid=GridSearchCV(model3,param_grid=parameters,return_train_score=True,cv=5)
grid.fit(X_train_scaled,y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': range(1, 30)}, return_train_score=True)

In [20]:
grid.score(X_test,y_test)

0.9400663625051846

The test accuracy rate is 0.9401.

In [21]:
grid.best_params_

{'n_neighbors': 6}

The best number of neighbors is 6.

# 5

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
model4=LogisticRegression(solver='lbfgs',max_iter=10000).fit(X_train,y_train)

In [24]:
model4.score(X_test,y_test)

0.9346744089589382

The test accuracy rate is 0.9347.